.container {
 font-family: "Noto Sans KR", sans-serif;
 font-weight: bold;
 display: flex;
 justify-content: center;
 padding: 10px;
 margin-bottom: 20px;

}

.userCharacter {
 cursor: pointer;
 margin-left: 14px;
}
.text{
  color: #1e4fa1;

}
.level {
 display: flex;
 flex-direction: row;
 margin-top: auto;
 color: lightslategray;
 font-size: 15px;
 justify-content: center;
}
