.backIcon {
  font-size: 30px;
  color: #1e4fa1;
}

.backIcon:hover {
  color: lightslategray;
}
.writingIcon {
  font-size: 26px;
  color: #1e4fa1;
}
.writingIcon:hover {
  color: lightslategray;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  padding-top: 10px;
  color: #1e4fa1;
  background-color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
}
.headerBorder{
  border-bottom: 1px solid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #1e4fa1;
}
.title {
  color: #1e4fa1;
  font-size: 24px;
}
