.titleContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}
.contentContainer{
  padding-bottom: 10px;
  border-width: 1px;
  border-bottom-style: solid;
}
.icons{
  color: #1e4fa1;
}
.icons:hover{
  color: lightslategray;
  cursor: pointer;
}