.container{
  font-family: "Noto Sans KR", sans-serif;
}

.messageInput{
  bottom: 60px;
  position: absolute;
  width: 100%;
}
.chatContainer{
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}
