.container {
  background-color: #ffffff;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 1fr 4fr 10fr;
  width: 100%;
  max-width: 428px;
  max-height: 1090px;
  min-height: 926px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 7fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
}

.icon {
  cursor: pointer;
  color: #1e4fa1;
}

.textareaContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.inputContainer {
  display: flex;
}

.textareaTitle {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 10px;
  font-size: 16px;
  flex: 1;
}
.textareaContent {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 10px;
  font-size: 16px;
  flex: 1;
  height: 200px;
}
.textareaTitle::placeholder {
  color: black;
  font-weight: 700;
}
.textareaContent::placeholder {
  color: #aaa;
}

.clearIcon {
  position: relative;
  right: 35px; /* 위치 조정 */
  cursor: pointer;
}