
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #1e4fa1;
  background-color: #f8f8f8;
}
.button {
  font-family: "Noto Sans KR", sans-serif;
  border: none;
  background-color: #dbe8ff;
  color: #1e4fa1;
  font-size: 12px;
  border-radius: 100px;
  box-shadow: 1px 2px 1px;
  font-weight: bold;
  margin-left: auto;
  cursor: pointer;
}
.icon {
  cursor: pointer;
  color: #1e4fa1;
  font-size: 24px;
}

.icon:hover {
  color: lightslategray;
}

.inputContainer {
  display: flex;
}

.textareaTitle {
  font-family: "Noto Sans KR", sans-serif;
  border: none;
  border-bottom: 1px solid black;
  padding: 8px 10px;
  font-size: 16px;
  flex: 1;
  margin: 10px;
}
.textareaContent {
  font-family: "Noto Sans KR", sans-serif;
  border: none;
  border-bottom: 1px solid black;
  padding: 8px 10px;
  font-size: 16px;
  flex: 1;
  height: 200px;
  margin: 10px;
}
.textareaTitle::placeholder {
  color: #aaa;
  font-weight: 700;
}
.textareaContent::placeholder {
  color: #aaa;
}

.clearIcon {
  margin-left: 90%;
  margin-top: 12px;
  position: absolute;
  cursor: pointer;
  font-size: 25px;
}

.clearIcon:hover{
  color: lightslategray;
}

.clipIcon{
  margin-left: 90%;
  margin-top: 12px;
  position: absolute;
  font-size: 20px
}

.clipIcon:hover{
  color: lightslategray;
}