.container {
    width: 360px;
    height: 640px;
    position: relative;
    margin: 0 auto;
    background-color: white;
    overflow-y: auto; /* 세로 스크롤 유지 */
  }
  
  @media screen and (max-width: 400px) {
    .container {
      width: 100%; /* 화면 너비가 360px 이하일 때 전체 너비로 설정 */
      padding: 0; /* 여백 제거 */
    }
  }
  